/*Hide search*/
body.hide-websearch .web-search {
	display: none;
}

/*Update Add Speeddial button*/
body.hide-plus .speeddial-add {
	display: none!important;
}

body.hide-plus .speeddial-container {
	height: auto!important;
}

body.hide-plus .scroll-container {
	height: 100%!important;
}

body.hide-plus .folder-scroll-container {
	height: auto!important;
}

body.hide-plus .folder-speeddial-container {
	height: auto!important;
}

body.hide-plus .folder-scroll-container {
	height: auto!important;
	overflow-x: hidden;
	padding-left: 1.5em;
}
/*Update address Speeddial button*/
body.update-plus .speeddial-add {
	margin-left: 40px!important;
	margin-top: 10px!important;
	width: 150px!important;
	height: 150px!important;
	border-radius: 150px!important;
	border: 1px solid rgba(255, 255, 255, .3)!important;
}

/*Hide all navigation buttons*/
body.hide-all-nav nav .wrapper {
	display: none;
}

body.hide-stash nav .wrapper .startpage-nav-stash {
	display: none;
}

body.hide-discover nav .wrapper .startpage-nav-discover {
	display: none;
}

/*Remove wallpaper gradient on top, and update style for better visibility*/
body.hide-gradient .wallpaper-gradient {
	background: none;
}

body.hide-gradient .section-nav {
	background-color: #f5f6f7;
}

/*Autohide Navigation*/
body.autohide-nav nav .wrapper {
}

body.autohide-nav .section-nav {
	transition: all 0.25s;
	opacity: 0;
}

body.autohide-nav nav:hover .section-nav {
	opacity: 1;
}

/*Updated style for Speed-dial*/
body.speeddial-style {
}

	body.speeddial-style .scroll-container {
		height: 100%!important;
	}

	body.speeddial-style .speeddial-container {
		height: auto!important;
		-webkit-perspective-origin: 50% 400%;
		-webkit-perspective: 800px;
	}

		body.speeddial-style .speeddial-container div {
			transform-style: preserve-3d;
		}

	body.speeddial-style .speeddial {
		border-radius: 0;
		border: 1px solid rgba(0, 0, 0, .2);
		transition: all 0.3s;
	}

		body.speeddial-style .speeddial:hover {
			border: 1px solid rgba(0, 0, 0, .5);
			-webkit-transform: translateZ(0) rotateY(0)!important;
			z-index: 99!important;
		}

	body.speeddial-style .folder-outer-container .folder-speeddial-container {
	}

	body.speeddial-style .speeddial-add {
		margin-left: 10px;
		margin-top: 10px;
		width: 210px; /*230px*/
		height: 150px; /*170px*/
	}

	body.speeddial-style .speeddial-close {
		display: none;
	}

	body.speeddial-style .folder {
		border-radius: 0;
		background: none;
		background-color: rgba(0,0,0,0.2);
	}

	body.speeddial-style .dial-thumbnail {
		border-radius: 0;
		border: 1px solid rgba(0, 0, 0, 0);
	}

	body.speeddial-style .folder-outer-container {
		border-radius: 0;
		box-shadow: 0 0 10px black;
	}

	body.speeddial-style #container-contextual-functionality .filter-container {
		border-radius: 15px;
		background-color: white;
	}

	body.speeddial-style .folder-outer-container .folder-speeddial-container .speeddial-add {
		/*background-color: rgba(255, 255, 255, 0.3);*/
	}

	body.speeddial-style .folder-outer-container .folder-header .folder-title-container {
		background-color: rgba(0, 0, 0, 0.3);
	}

	body.speeddial-style .folder-outer-container .folder-header .folder-filter {
		width: 23px;
		transition: width 0.25s;
	}

		body.speeddial-style .folder-outer-container .folder-header .folder-filter:hover {
			width: 180px;
		}

		body.speeddial-style .folder-outer-container .folder-header .folder-filter:focus {
			width: 180px;
		}

	body.speeddial-style .wrapper {
	}

	body.speeddial-style .section-nav {
		margin-top: -5px;
		border-radius: 0;
		padding-top: 5px;
		background-position: 10px 80%;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}

		body.speeddial-style .section-nav.selected {
			box-shadow: none;
		}

		body.speeddial-style .section-nav:focus {
		}

body.new-title-style .speeddial-title-container {
	background-color: rgba(0,0,0,0.3);
	color: white;
}

/*Update style of navigation*/
/*body.update-nav #view-container {
	transition: left 3s;
}

	body.update-nav #view-container .view {
		-webkit-transform: translateZ(0);
		transition: visibility 3s;
	}

body.update-nav .wrapper {
	padding-top: 20px;
}

body.update-nav .section-nav {
	visibility: hidden;
}

body.update-nav .nav_icons {
	margin-left: 5px;
	margin-right: 5px;
	width: 24px;
	height: 24px;
	cursor: pointer;
	transition: all 0.5s;
	opacity: 0.3;
	box-shadow: 0 0 5px black;
	border-radius: 36px;
	background-color: rgba(255, 255, 255, 0.5);
}

	body.update-nav .nav_icons:hover {
		opacity: 1;
	}

	body.update-nav .nav_icons:focus {
	}

.zero {
	left: 0!important;
}

	.zero > .view {
		visibility: hidden!important;
	}

		.zero > .view:first-child {
			visibility: visible!important;
		}

.hundred {
	left: -100%!important;
}

	.hundred > .view {
		visibility: hidden!important;
	}

		.hundred > .view:nth-child(2) {
			visibility: visible!important;
		}

.two-hundred {
	left: -200%!important;
}

	.two-hundred > .view {
		visibility: hidden!important;
	}

		.two-hundred > .view:nth-child(3) {
			visibility: visible!important;
		}
*/
