/*Hide search*/
body.hide-websearch .web-search {
	display: none !important;
}

/*Update Add Speeddial button*/
body.hide-plus .speeddial-add {
	display: none !important;
}

body.update-plus .speeddial-add {
	margin-left: 10px!important;
	margin-top: 10px!important;
	width: 210px!important; /*230px*/
	height: 150px!important; /*170px*/
	border-radius: 150px!important;
	border: 1px solid rgba(0, 0, 0, .75)!important;
}
/*Hide all navigation buttons*/
body.hide-all-nav nav .wrapper {
	display: none !important;
}

body.hide-stash nav .wrapper .startpage-nav-stash {
	display: none !important;
}

body.hide-discover nav .wrapper .startpage-nav-discover {
	display: none !important;
}
/*Updated style for Speed-dial*/
body.speeddial-style .scroll-container {
	padding-top: 3px !important;
}

	body.speeddial-style .scroll-container .speeddial-container {
		padding: 0 80px !important;
	}

body.speeddial-style .speeddial {
	border-radius: 0!important;
	border: none!important;
}

	body.speeddial-style .speeddial:not(.editing) {
		box-shadow: none!important;
		transition: border-color 0.5s!important;
		border: 1px solid rgba(0, 0, 0, .1)!important;
	}

		body.speeddial-style .speeddial:not(.editing):hover {
			border: 1px solid rgba(0, 0, 0, .5)!important;
		}

		body.speeddial-style .speeddial:not(.editing):focus {
			box-shadow: 0 0 0 3px rgb(46, 130, 236) !important;
		}

body.speeddial-style .folder {
	border-radius: 0!important;
	background: none!important;
	background-color: rgba(0,0,0,0.1)!important;
}

body.speeddial-style .dial-thumbnail {
	border-radius: 0!important;
	border: none!important;
}

body.speeddial-style #container-contextual-functionality {
	transition: all 0.2s;
}

body.speeddial-style .folder-outer-container {
	border-radius: 0!important;
}

	body.speeddial-style .folder-outer-container .folder-speeddial-container .speeddial-add {
		background-color: rgba(255, 255, 255, 0.3)!important;
	}

	body.speeddial-style .folder-outer-container .folder-header .folder-title-container {
		background-color: rgba(0, 0, 0, 0.3)!important;
	}

	body.speeddial-style .folder-outer-container .folder-header .folder-filter {
		width: 23px;
		transition: all 0.25s;
	}

		body.speeddial-style .folder-outer-container .folder-header .folder-filter:hover {
			width: 180px;
		}

		body.speeddial-style .folder-outer-container .folder-header .folder-filter:focus {
			width: 180px;
		}

body.speeddial-style .section-nav {
	transition: all 0.25s;
	border: 3px solid #f5f6f7!important;
	box-shadow: 0 1px 4px!important;
}

	body.speeddial-style .section-nav.selected {
		border: 3px solid #f5f6f7!important;
		box-shadow: 0 1px 2px!important;
	}

	body.speeddial-style .section-nav:focus {
		border: 3px solid rgb(46, 130, 236)!important;
	}

/*Remove wallpaper gradient on top, and update style for better visibility*/
body.hide-gradient .wallpaper-gradient {
	background: none!important;
}

body.hide-gradient .section-nav {
	background-color: #f5f6f7;
}

/*Autohide Navigation*/
body.autohide-nav nav .wrapper {
	transition: all 0.25s;
	opacity: 0;
}

body.autohide-nav nav:hover .wrapper {
	opacity: 1;
}
/*Update style of navigation*/
body.update-nav #view-container {
	transition: left 0.3s!important;
}

	body.update-nav #view-container .view {
		-webkit-transform: translateZ(0);		
		transition: visibility 0.3s!important;
	}

body.update-nav .wrapper {
	padding-top: 25px;
}

body.update-nav .section-nav {
	display: none;
}

body.update-nav .nav_icons {
	margin-left: 10px;
	margin-right: 10px;
	width: 24px;
	height: 24px;
	cursor: pointer;
	transition: all 0.25s;
	opacity: 0.6;
}

	body.update-nav .nav_icons:hover {
		opacity: 1;
	}

	body.update-nav .nav_icons:focus {
	}

.zero {
	left: 0!important;
}

	.zero > .view {
		visibility: hidden!important;
	}

		.zero > .view:first-child {
			visibility: visible!important;
		}

.hundred {
	left: -100%!important;
}

	.hundred > .view {
		visibility: hidden!important;
	}

		.hundred > .view:nth-child(2) {
			visibility: visible!important;
		}

.two-hundred {
	left: -200%!important;
}

	.two-hundred > .view {
		visibility: hidden!important;
	}

		.two-hundred > .view:nth-child(3) {
			visibility: visible!important;
		}
