/*Speeddial*/
.web-search{display: none !important} /*Google search*/
.speeddial-add{display: none !important} /*Add Speddial Button*/
.speeddial-container{padding-top: 5px !important} /*move dials above*/
nav{height: 100px!important}
nav>.wrapper{ padding:0!important }
.scroll-container{top: 0!important}
#view-container{top: 100px!important}
.speeddial:not(.editing){
	box-shadow: none!important;
	transition: border-color 0.5s!important;
	border: 1px solid rgba(0, 0, 0, .1)!important;
}
.speeddial:not(.editing):hover{
	border: 1px solid rgba(0, 0, 0, .5)!important;
}
.speeddial{
	border-radius: 0!important;
	border: none!important;
}
.folder{
	border-radius: 0!important;
	background: none!important;
	background-color: rgba(0,0,0,0.1)!important;
}
.speeddial.folder:hover{
	
}
.dial-thumbnail{border-radius: 0!important;
	border: none!important;
}
.section-nav{
	border-radius: 0 0 3px 3px!important;
	background-color: #f5f6f7!important;
	border: 1px solid rgba(0, 0, 0, .1)!important;
	margin: 0!important;	
	background-color: #e3e8ea!important;
}
.section-nav:hover{
	color: black!important;
	background-color: #f5f6f7!important;
}
.section-nav.selected{
	background-color: #f5f6f7!important;
	border: 1px solid transparent!important;
	background-color: none!important;
	box-shadow: none!important;
	color: black!important;
}
.folder-outer-container{
	border-radius: 0!important;
	border: 1px solid rgba(0, 0, 0, .1)!important;
	background: none!important;
	box-shadow: none!important;
	background-color: rgba(0, 0, 0, 0.6)!important;
}
.folder-title-container{
	background-color: rgba(0, 0, 0, 0.3)!important;
}
.folder-title-container .folder-title {	
}
.folder-filter{
	display: none!important;
	left: 43.5%!important;	
	border-radius: 0!important;
}
.wallpaper-gradient{
	background: none!important;
}